/* index.html */
@media screen and (max-width:480px){
    .nav-list >li
    {
        width:100%;
        text-align: center;
    }
    .hotel-main-image
    {
        height: 400px;
    }
    .hotel-main-image-content
    {
        font-size:30px;
        line-height: 60px;
    }
    .bookings-btn
    {
        margin-top: 10%;
    }
    .main-facilities
    {
        font-size: 40px;
    }
    .main-facilities-lower
    {
        font-size: 25px;
    }
    .facilities-content
    {
        font-size: 20px;
    }
    .about-image
    {
        width:100%;
    }
    .about-content-1
    {
        font-size: 40px;
        padding-left: 20px;
    }
    .about-content-2
    {
        font-size: 18px;
        text-align: center;
        padding-left: 20px;
    }
    .about-btn
    {
        margin-bottom: 20px;
    }
    .flex2-container2 > div
    {
        margin-top: 20px;
    }
    .location-content
    {
        font-size: 20px;
    }
    .footer-list  ul li a
    {
        font-size: 18px;
    }
}
@media screen and (min-width:480px) and (max-width:768px){
    .nav-list >li
    {
        width:100%;
        text-align: center;
    }
    
    .hotel-main-image-content
    {
        font-size:40px;
        line-height: 60px;
        padding-top: 20%;
    }
    .bookings-btn
    {
        margin-top: 5%;
    }
    .main-facilities
    {
        font-size: 40px;
    }
    .main-facilities-lower
    {
        font-size: 25px;
    }
    .facilities-content
    {
        font-size: 20px;
    }
    .about-image
    {
        width:100%;
    }
    .about-content-1
    {
        font-size: 40px;
        margin: auto;
    }
    .about-content-2
    {
        font-size: 18px;
        text-align: center;
        padding-left: 20px;
    }
    .about-btn
    {
        margin-bottom: 20px;
    }
    .flex2-container2 > div
    {
        margin-top: 20px;
    }
    .location-content
    {
        font-size: 20px;
    }
    .footer-list  ul li a
    {
        font-size: 18px;
    }
}
@media screen and (min-width:769px) and (max-width:1200px)
{
    .about-content
    {
        margin: auto;
    }
    .mid-about-image
    {
        margin: auto;
    }
    .flex2-container2 > div
    {
        margin-top: 20px;
    }
}
/* aboutus.html */
@media screen and (max-width:480px)
{
    .nav-list >li
    {
        width:100%;
        text-align: center;
    }
    .hotel-about-image
    {
        height: 400px;
    }
    .hotel-main-image-content
    {
        font-size:30px;
        line-height: 60px;
    }
    .bookings-btn
    {
        margin-top: 10%;
    }
}
@media screen and (min-width:480px) and (max-width:768px){
    
}