*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-list
{
    list-style-type:none;
    background-color: black;
    width: 100%;
    color: white;
    float: right;
}
.nav-list > li
{
    display: inline;
}